/* 全局样式 */
html,body,#app{
    margin: 0;
    padding: 0;
    height: 100%;
}

.box-card {
    margin-top: 15px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2) !important;
}

.el-table {
    margin-top: 15px;
}

.el-pagination {
    margin-top: 15px;
}

.el-steps {
    margin: 15px 0;
}

.el-step__title {
    font-size: 13px;
}

/* 此处在全局定义了富文本编辑器的最小高度，在 Add组件中定义时没有效果，只能在全局定义，不知为何 */
.ql-editor {
    min-height: 300px;
}